$background-color: #E5E5E5;
$nav-color: #2F2F2F;
$white: #FFFFFF;
$bold: 600;
$grey: #3E4542;
$black: #000000;
$light: 400;
$medium: 500;
$red: #FF452B;
$light-red: #FFC5BE;
$font: 'Barlow Condensed', sans-serif;
$border: 1px solid #e9e9e9;
$border-radius: 8px;