@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
@import "components";
@import "../components/views/auth/Login/login";
@import "../components/Header/header";
@import "../components/views/Tasks/tasks";
@import "../components/Card/card";


html {
    height: 100%;
    body {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    background-color: $background-color;
    height: 100%;
    #root {
        height: 100%;
    }
    .page {
        min-height: 100%;
        .pageContainer {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
}




* {
    box-sizing:border-box;
    margin: 0;

}
