.containerTasks {
    justify-content: start;
    align-items: center;
    margin: 10%;
    width: 80%;
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
            text-align: end;
        }
    }
    div {
        width:100%;
    }
 
}

.error {
    border: 1px solid red;
}

@media screen and (min-width: 768px) {
    .list {
        display: flex;
        justify-content: start;
        align-items: space-evenly;
        div {
            display: flex;
            flex-direction: column;
        }

        .card {
            margin: 1rem;
            padding: 0.5rem;
            box-sizing: border-box;
            .card_buttons_container {
                display: flex;
                flex-direction: row;
            }
            
        }
    }
}