.button.low  {
    background-color: limegreen
}

.button.high {
    background-color: red;
}

.button.medium {
    background-color: yellow;
}

.button.progress {
    background-color: orange;
}

.button.finished {
    background-color: rgb(255, 0, 255);
}   

.button.new {
    background-color: blue;
}

.moreButton {
    width: 100px;
}