header {
    box-shadow: 1px, solid, black;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    .wraper_right_header {
        div:first-child {
        cursor: pointer;
        }
        display: flex;
        flex-direction: row;
    }
    
}